/* Imports Roboto font from google servers. Attempting to open webpage offline will result in an error loading the fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: black;
}

header {
    /* Flexbox related code */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* Position related code */
    position: sticky;
    z-index: 2;
    margin-top: 0;
    padding-top: 5px;
    top: 5px;

    /* Formatting related code */
    font-family: 'Roboto', sans-serif;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
}

main {
    /* Position related code */
    margin: 10px;

    /* Formatting related code */
    color: rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header img {
    /* Position related code */
    height: 40px;
}

.openMenu {
    /* Display related code */
    display: block;
    cursor: pointer;
}

.closeMenu {
    /* Display related code */
    display: none;
    cursor: pointer;
}

nav {
    /* Display related code */
    display: none;

    /* Flexbox related code */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Position related code */
    position: sticky;
    z-index: 1;
    padding: 5px;

    /* Formatting related code */
    background-color: rgb(216, 216, 216);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}

nav a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@keyframes slideDown{
    0%{
        transform: translateY(-100%);
        
    }
    100%{
        transform: translateY(0);
        
    }
}

@keyframes slideUp{
    0%{
        transform: translateY(0);
        
    }
    100%{
        transform: translateY(-100%);
        
    }
}

footer {
    /* Flexbox related code */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    /* Position related code */
    padding-top: 5px;
    padding-bottom: 5px;

    /* Formatting related code */
    font-family: 'Roboto', sans-serif;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
}

.gradientTitle {
    background: linear-gradient(90deg, yellow, #36deed, #1dfa96, orange, red, purple);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12vw;
    animation: gradientTitle 10s ease infinite;
    margin: 0;
}

@keyframes gradientTitle {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 50% 50%;}
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gradientTitle::after {
    content: ""; 
    height: 10vw;
    width: 5vw;
    background-color: white;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.info {
    font-size: 4vw;
    margin: 0;
}

.divOfButton {
    display: flex;
    justify-content: center;
}

.scrollMainButton {
    background: url(assets/scrollDownIcon.svg);
    width: 40px;
    height: 40px;
    align-self: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.hideHome {
    display: none;
}

@keyframes unhide {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}