body{
    background-color: black;
}

p{
    color: white;
    font-family: Arial;
}

.link{
    padding: 8px;
    position: relative;
    color: white;
    text-decoration: none;
    background: none;
    font-family: Arial;
    transition: 0.2s ease-in;
    margin: 10px;
    font-size: 20px;
}

.link:hover{
    color: black;
}

.link:before{
    content: "";
    background: white;
    transition: top 0.2s ease-in;
    -webkit-transition: top 0.2s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
}

.link:hover:before{
    top: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    color: white;
    font-family: Arial;
    font-size: 20px;
}

.title2{
    color: white;
    font-family: Arial;
    font-size: 20vh;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 0;
}

.redtopurple{
    background: linear-gradient(90deg, yellow, #36deed, #1dfa96, orange, red, purple);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25vh;
    animation: nameGradient 10s ease infinite;
    }

@keyframes nameGradient{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.text{
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.link2{
    margin-left: 50px;
}

.selector{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grad{
    text-align: center;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 15px rgb(0, 0, 0, 0.5);
    position: relative;
    top: 40px;
    transition: 0.4s;
    margin: 10px;
    width: 20vh;
    height: 20vh;
    background: linear-gradient(90deg, yellow, #36deed, #1dfa96, orange, red, purple);
    background-size: 400% 400%;
    animation: nameGradient 10s ease infinite;
}

.grad:hover{
    top: 0;
    right: 40;
    box-shadow: 20px 60px 15px rgb(0, 0, 0, 0.5);
    height: 25vh;
    width: 25vh;
}
