.langLink img{
    text-align: right;
    width: 4vw;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

nav{
    text-align: center;
}

.selectedLink{
    text-decoration: none;
    background-color: black;
    color: white;
    border: solid black 1.5px;
    border-radius: 4px;
    font-family: "Courier New";
    font-size: 25px;
}

.otherLink{
    text-decoration: none;
    background-color: white;
    color: black;
    border: solid black 1.5px;
    border-radius: 4px;
    font-family: "Courier New";
    font-size: 25px;
    transition: 0.2s;
}

.otherLink:hover{
    background-color: black;
    color: white;
}

.text{
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 1px 1px 4px black;
}

.diagnosis{
    background-color: #ff5500;
}

h1{
    font-family: 'Lucida Sans';
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: solid white 1.5px;
    border-radius: 4px;
    font-family: "Courier New";
    margin: 10px;
    font-size: 25px;
    transition: 0.2s;
    text-shadow: 1px 1px 4px black;
}

.button:hover{
    background-color: white;
    color: #ff5500;
    margin: 15px;
}

.copyright{
    font-family: 'Lucida Sans';
    text-align: center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

@keyframes slideFromRight{
    0%{
        transform: translateX(100%);
        filter: opacity(0);
    }
    100%{
        transfrm: translateX(0);
        filter: opacity(100%);
    }
}

main{
    animation: 0.5s ease-out 0s 1 slideFromRight;
}

.ssd{
    background-image: url(Others/ssd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 60px;
}

.win{
    background-image: url(Others/win.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 60px;
}
