.averia-serif-libre-light {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
}

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #008080;
}

.old-windows {
    margin: 0;
    height: 100vh;
    background-image: url("../images/win_bg.png");
    background-size: 50%;
    image-rendering: pixelated;
}

.main-title {
    text-align: center;
    word-break: break-all;
    margin: 0;
    margin: 8px;
    font-size: 10vmin;
}

.main-window {
    width: 50vw;
    height: 50vh;
}

@media (max-width: 1000px) {
    .main-title {
        font-size: 12vmin;
    }

    .main-window {
        width: 90vw;
        height: 6                                                                                                                                                       0vmin;
    }

    .main-quote {
        font-size: 5vmin;
    }

    .main-logo {
        height: 12vmin;
    }
}


.main-quote {
    font-size: 4vmin;
    text-align: center;
    font-style: italic;
    margin: 0;
    margin: 8px;
}

.main-window .window-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-logo {
    height: 10vmin;
    margin: 12px;
}

.main-window-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.scroll-arrow {
    image-rendering: pixelated;
    margin-top: 2vmin;
    height: 1.4vmin;
}

.material-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    position: relative;
    overflow: hidden;
}

.material-style::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-image: url("../images/mac_icons.png");
    background-size: 30%;
    image-rendering: pixelated;
    transform: rotate(20deg);
    opacity: 0.4;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90vmin;
    text-align: end;
    border-bottom: solid 1px rgb(73, 73, 73);
}

.project:last-child {
    border-bottom: none;
}

.project img {
    height: 16vmin;
    border-radius: 8px;
    margin: 20px;
}

.project h2 {
    margin: 8px;
}

.project span {
    margin: 8px;
    font-size: large;
}

.project-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 10px 0;
    justify-content: end;
}

.project-actions a {
    padding: 8px;
    color: rgb(61, 76, 87);
    text-decoration: none;
    font-size: large;
    text-align: center;
    border-bottom: solid rgb(61, 76, 87) 3px;
    margin-right: 8px;
    transition: 0.1s;
}

.project-actions a:hover {
    background-color: rgb(61, 76, 87);
    color: white;
}

.project-main {
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-family: "Averia Serif Libre";;
}

.projects-title {
    text-decoration: rgb(73, 73, 73) wavy underline;
    text-decoration-skip-ink: none;
}

.maximized {
    width: 100%;
    height: 100%;
    padding: 0;
}

.window-anim {
    animation: window_appear 1s forwards;
}

.window-minimize {
    animation: minimize 1s forwards;
}

.window-restore {
    animation: restore 1s forwards;
}

@keyframes window_appear {
    0% {
        margin-bottom: 100%;
        transform: scale(1.2);
    }

    40% {
        margin-bottom: 0px;
    }

    60% {
        margin-bottom: 60px;
    }

    70% {
        margin-bottom: 0px;
    }

    80% {
        margin-bottom: 40px;
    }

    100% {
        margin-bottom: 0px;
        transform: scale(1);
    }
}

@keyframes restore {
    0% {
        transform: scale(0.4) translateY(100vh);
        opacity: 0;
    }

    100% {
        transform: scale(1);
    }
    
}

@keyframes minimize {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.4) translateY(100vh);
        opacity: 0;
    }
}

footer {
    background-color: #dbaf8f;
    padding: 30px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials a {
    margin: 6px;
}

.socials img {
    height: 45px;
}

footer p {
    font-size: medium;
    margin-top: 10px;
    color: rgb(58, 52, 40);
}

a, a:active, a:focus, a:visited {outline: none;}