body {
    background-color: rgb(67, 67, 67);
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    background-color: red;
    color: white;
    border: solid 5px rgb(185, 0, 0);
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 16px 16px 10px black;
    transition: 0.3s ease-in-out;
    font-size: large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -50px;
    width: 100px;
    height: 200px;
    display: none;
}

button:hover {
    width: 350px;
    height: 250px;
    margin-top: -125px;
    margin-left: -175px;
    box-shadow: 10px 10px 10px black;
    border-radius: 50px;
    font-size: larger;
}